<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Log In</title>
    </head>

    <body>
        <h3>Log In</h3>
        <p>Username</p>
        <input id="username">
        <p>Password</p>
        <input id="password" type="password">
        <button onclick="login()">Log In</button>
        <p>No Account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    
        <script>
            // check if a URL is valid
            function isValid(url) {
                if (url.length == 0) {
                    return false;
                }
                if (url[0] == "/") {
                    return true;
                }
                return false;
            }

            async function login() {
                var loginURL = "{{ url_for('handle_login') }}";
                var response = await axios.post(loginURL, {
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                });
                
                // check if the URL returned from the handle_login function in the backend is valid URL
                if (!isValid(response.data)) {
                    console.log(response.data);
                    return;
                }

                // if the URL is valid, redirect to that page in the current tab
                window.open(response.data, "_self");
            }
        </script>
    
    </body>
</html>