<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Sign Up</title>

        <style>
            #pwd-err, #username-err, #err {
                color: red;
            }
        </style>
    </head>

    <body>
        <h3>Sign Up</h3>
        <p>Username</p>
        <input id="username">
        <p>Password</p>
        <input id="password" type="password"><br>
        <p id="pwd-err" style="display: none;">Password doesn't match</p>
        <p id="username-err" style="display: none;">Username doesn't exist</p>
        <p id="err" style="display: none;">Error signing up</p>
        <button onclick="signup()">Sign Up</button>
        <p>Have An Account? <a href="{{ url_for('index') }}">Log In</a></p>

        <script>
            // check if the URL is valid
            function isValid(url) {
                if (url.length == 0) {
                    return false;
                }
                if (url[0] == "/") {
                    return true;
                }
                return false;
            }

            async function signup() {
                var signupURL = "{{ url_for('handle_signup') }}";
                var response = await axios.post(signupURL, {
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                });

                // check if the URL returned from the handle_login function in the backend is valid URL
                if (isValid(response.data)) {
                    // if the URL is valid, redirect to that page in the current tab
                    window.open(response.data, "_self");
                } else {
                    if (response.data === "Password doesn't match") {
                        document.getElementById("pwd-err").style.display = "block";
                        document.getElementById("username-err").style.display = "none";
                        document.getElementById("err").style.display = "none";
                    } else if (response.data === "Username doesn't exist") {
                        document.getElementById("username-err").style.display = "block";
                        document.getElementById("pwd-err").style.display = "none";
                        document.getElementById("err").style.display = "none";
                    } else {
                        document.getElementById("err").style.display = "block";
                        document.getElementById("username-err").style.display = "none";
                        document.getElementById("pwd-err").style.display = "none";
                        console.log(response.data);
                    }
                    return;
                }
            }
        </script>
    </body>
</html>